spa-root {
	opacity: 0;
}

body,
html {
	font-family: sans-serif;
	height: 100%;
	line-height: 1.5;
	margin: 0;
}

* {
	box-sizing: border-box;
}

img,
video,
svg {
	display: block;
}

img,
video {
	max-width: 100%;
}

/* home */

.hero {
	align-items: center;
	aspect-ratio: 21/9;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
		url('https://images.unsplash.com/photo-1431578500526-4d9613015464?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80')
			no-repeat center center / cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 50%;
	margin-top: -1rem;
	max-height: 30rem;
	transform: translateX(-50%);
	width: 100vw;
}

.hero h1 {
	color: white;
	font-size: 3rem;
	margin: 1rem 0;
	text-shadow: 0 0 20px black;
}

.hero a {
	background: black;
	border: none;
	border-radius: 3rem;
	color: white;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
}
