spa-root:not(:defined),
ardi-form:not(:defined) {
	opacity: 0;
}

:root {
	color-scheme: light dark;
}

body,
html {
	font-family: sans-serif;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

img,
video,
svg {
	display: block;
}

img {
	object-fit: cover;
}

img,
video {
	max-width: 100%;
}

/* home */

.hero {
	align-items: center;
	aspect-ratio: 16/9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -1rem;
	position: relative;
}

.hero:before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
		url(/assets/hero.jpg) no-repeat center center / cover;
	content: '';
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100vw;
	z-index: -1;
}

.hero h1 {
	color: white;
	font-size: 2.25rem;
	margin: 1rem 0;
	text-shadow: 0 0 20px black;
}

.hero a {
	background: black;
	border: none;
	border-radius: 3rem;
	color: white;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
}
